@namespace Spotazor.Client
@if (Embed != null)
{
    @((MarkupString)Embed.Html)
    <button type="button" class="btn btn-success m-1" onclick="navigator.clipboard.writeText('@Embed.Html')">
        Copy Embed
    </button>
}

@code 
{
    [Parameter]
    public SpotifyEmbedResponse? Embed { get; set; }
}